#error{
    margin-top: 25px;
    font-size: 30px;
    height: 5px;
    display: flex;
    justify-content: center;
}

#CityName{
    margin-top: 25px;
    font-size: 35px;
    height: 150px;
    display: flex;
    justify-content: center;
}

#temp-row{
    column-count: 3;
}

#temp{
    font-size: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#min_temp{
    font-size: 50px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#max_temp{
    font-size: 50px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hum{
    
    margin-top: 25px;
    display: inline;
    font-size: 25px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#humidity{
    display: inline;
    margin-left: 10px;
    font-size: 25px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feelLike{
    display: inline;
    font-size: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feels_like{
    margin-left: 10px;
    display: inline;
    font-size: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

